In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

%config IPCompleter.greedy=True

# 1. Carga datos

In [43]:
df=pd.read_pickle('df.pickle')
df

,planta,inverter_id,kw_dc,kw_ac,kw_dia,kw_total,sensor_id,t_ambiente,t_modulo,irradiacion
fecha,,,,,,,,,,
2020-05-15 00:00:00,p1,1BY6WEcLGh8j5v7,0.0,0.0,0.0,6259559.0,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
2020-05-15 00:00:00,p1,1IF53ai7Xc0U56Y,0.0,0.0,0.0,6183645.0,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
2020-05-15 00:00:00,p1,3PZuoBAID5Wc2HD,0.0,0.0,0.0,6987759.0,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
2020-05-15 00:00:00,p1,7JYdWkrLSPkdwr4,0.0,0.0,0.0,7602960.0,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
2020-05-15 00:00:00,p1,McdE0feGgRqW7Ca,0.0,0.0,0.0,7158964.0,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
...,...,...,...,...,...,...,...,...,...,...
2020-06-17 23:45:00,p2,q49J1IKaHRwDQnt,0.0,0.0,4157.0,520758.0,iq8k7ZNt4Mwm3w0,23.202871,22.535908,0.0
2020-06-17 23:45:00,p2,rrq4fwE8jgrTyWY,0.0,0.0,3931.0,121131356.0,iq8k7ZNt4Mwm3w0,23.202871,22.535908,0.0
2020-06-17 23:45:00,p2,vOuJvMaM2sgwLmb,0.0,0.0,4322.0,2427691.0,iq8k7ZNt4Mwm3w0,23.202871,22.535908,0.0
2020-06-17 23:45:00,p2,xMbIugepa2P7lBB,0.0,0.0,4218.0,106896394.0,iq8k7ZNt4Mwm3w0,23.202871,22.535908,0.0
2020-06-17 23:45:00,p2,xoJJ8DcxJEcupym,0.0,0.0,4316.0,209335741.0,iq8k7ZNt4Mwm3w0,23.202871,22.535908,0.0

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 136472 entries, 2020-05-15 00:00:00 to 2020-06-17 23:45:00
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   planta       136472 non-null  object
 1   inverter_id  136472 non-null  object
 2   kw_dc        136472 non-null  float64
 3   kw_ac        136472 non-null  float64
 4   kw_dia       136472 non-null  float64
 5   kw_total     136472 non-null  float64
 6   sensor_id    136472 non-null  object
 7   t_ambiente   136472 non-null  float64
 8   t_modulo     136472 non-null  float64
 9   irradiacion  136472 non-null  float64
dtypes: float64(7), object(3)
memory usage: 11.5+ MB

# 2.CREACION DE VARIABLES

# 2.1 Creación eficiencia

In [44]:
def eficiencia_inverter(AC,DC):
    t=(AC/DC)*100
    return(t.fillna(0))

In [45]:
df['eficiencia']=eficiencia_inverter(df.kw_ac,df.kw_dc)

In [46]:
df.eficiencia.isna().sum()

0

# 2.2 Creación componentes fecha

In [47]:
def comp_fecha(dataf):
    dia=df.index.day
    mes=df.index.month
    hora=df.index.hour
    minuto=df.index.minute

    return(pd.DataFrame({'mes':mes,'dia':dia,'hora':hora,'minuto':minuto}))

In [48]:
temporal=comp_fecha(df)
temporal

        mes  dia  hora  minuto
0         5   15     0       0
1         5   15     0       0
2         5   15     0       0
3         5   15     0       0
4         5   15     0       0
...     ...  ...   ...     ...
136467    6   17    23      45
136468    6   17    23      45
136469    6   17    23      45
136470    6   17    23      45
136471    6   17    23      45

[136472 rows x 4 columns]

In [49]:
df=pd.concat([df.reset_index(),temporal],axis=1)
df

,fecha,planta,inverter_id,kw_dc,kw_ac,kw_dia,kw_total,sensor_id,t_ambiente,t_modulo,irradiacion,eficiencia,mes,dia,hora,minuto
0,2020-05-15 00:00:00,p1,1BY6WEcLGh8j5v7,0.0,0.0,0.0,6259559.0,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0,0.0,5,15,0,0
1,2020-05-15 00:00:00,p1,1IF53ai7Xc0U56Y,0.0,0.0,0.0,6183645.0,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0,0.0,5,15,0,0
2,2020-05-15 00:00:00,p1,3PZuoBAID5Wc2HD,0.0,0.0,0.0,6987759.0,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0,0.0,5,15,0,0
3,2020-05-15 00:00:00,p1,7JYdWkrLSPkdwr4,0.0,0.0,0.0,7602960.0,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0,0.0,5,15,0,0
4,2020-05-15 00:00:00,p1,McdE0feGgRqW7Ca,0.0,0.0,0.0,7158964.0,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0,0.0,5,15,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136467,2020-06-17 23:45:00,p2,q49J1IKaHRwDQnt,0.0,0.0,4157.0,520758.0,iq8k7ZNt4Mwm3w0,23.202871,22.535908,0.0,0.0,6,17,23,45
136468,2020-06-17 23:45:00,p2,rrq4fwE8jgrTyWY,0.0,0.0,3931.0,121131356.0,iq8k7ZNt4Mwm3w0,23.202871,22.535908,0.0,0.0,6,17,23,45
136469,2020-06-17 23:45:00,p2,vOuJvMaM2sgwLmb,0.0,0.0,4322.0,2427691.0,iq8k7ZNt4Mwm3w0,23.202871,22.535908,0.0,0.0,6,17,23,45
136470,2020-06-17 23:45:00,p2,xMbIugepa2P7lBB,0.0,0.0,4218.0,106896394.0,iq8k7ZNt4Mwm3w0,23.202871,22.535908,0.0,0.0,6,17,23,45
136471,2020-06-17 23:45:00,p2,xoJJ8DcxJEcupym,0.0,0.0,4316.0,209335741.0,iq8k7ZNt4Mwm3w0,23.202871,22.535908,0.0,0.0,6,17,23,45

In [50]:
df.set_index('fecha',inplace=True)
df.isna().sum()

planta         0
inverter_id    0
kw_dc          0
kw_ac          0
kw_dia         0
kw_total       0
sensor_id      0
t_ambiente     0
t_modulo       0
irradiacion    0
eficiencia     0
mes            0
dia            0
hora           0
minuto         0
dtype: int64

In [51]:
orden = ['planta','mes','dia','hora','minuto','sensor_id','irradiacion','t_ambiente','t_modulo','inverter_id','kw_dc','kw_ac','eficiencia','kw_dia','kw_total']

In [52]:
df=df[orden]
df

,planta,mes,dia,hora,minuto,sensor_id,irradiacion,t_ambiente,t_modulo,inverter_id,kw_dc,kw_ac,eficiencia,kw_dia,kw_total
fecha,,,,,,,,,,,,,,,
2020-05-15 00:00:00,p1,5,15,0,0,HmiyD2TTLFNqkNe,0.0,25.184316,22.857507,1BY6WEcLGh8j5v7,0.0,0.0,0.0,0.0,6259559.0
2020-05-15 00:00:00,p1,5,15,0,0,HmiyD2TTLFNqkNe,0.0,25.184316,22.857507,1IF53ai7Xc0U56Y,0.0,0.0,0.0,0.0,6183645.0
2020-05-15 00:00:00,p1,5,15,0,0,HmiyD2TTLFNqkNe,0.0,25.184316,22.857507,3PZuoBAID5Wc2HD,0.0,0.0,0.0,0.0,6987759.0
2020-05-15 00:00:00,p1,5,15,0,0,HmiyD2TTLFNqkNe,0.0,25.184316,22.857507,7JYdWkrLSPkdwr4,0.0,0.0,0.0,0.0,7602960.0
2020-05-15 00:00:00,p1,5,15,0,0,HmiyD2TTLFNqkNe,0.0,25.184316,22.857507,McdE0feGgRqW7Ca,0.0,0.0,0.0,0.0,7158964.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-17 23:45:00,p2,6,17,23,45,iq8k7ZNt4Mwm3w0,0.0,23.202871,22.535908,q49J1IKaHRwDQnt,0.0,0.0,0.0,4157.0,520758.0
2020-06-17 23:45:00,p2,6,17,23,45,iq8k7ZNt4Mwm3w0,0.0,23.202871,22.535908,rrq4fwE8jgrTyWY,0.0,0.0,0.0,3931.0,121131356.0
2020-06-17 23:45:00,p2,6,17,23,45,iq8k7ZNt4Mwm3w0,0.0,23.202871,22.535908,vOuJvMaM2sgwLmb,0.0,0.0,0.0,4322.0,2427691.0
2020-06-17 23:45:00,p2,6,17,23,45,iq8k7ZNt4Mwm3w0,0.0,23.202871,22.535908,xMbIugepa2P7lBB,0.0,0.0,0.0,4218.0,106896394.0
2020-06-17 23:45:00,p2,6,17,23,45,iq8k7ZNt4Mwm3w0,0.0,23.202871,22.535908,xoJJ8DcxJEcupym,0.0,0.0,0.0,4316.0,209335741.0

# 2.3 Creación dataframe diario (resampling)

In [53]:
df.select_dtypes('number').columns

Index(['mes', 'dia', 'hora', 'minuto', 'irradiacion', 't_ambiente', 't_modulo',
       'kw_dc', 'kw_ac', 'eficiencia', 'kw_dia', 'kw_total'],
      dtype='object')

In [54]:
df.columns[~df.columns.isin(df.select_dtypes('number').columns)]

Index(['planta', 'sensor_id', 'inverter_id'], dtype='object')

In [58]:
#no se incluye sensor_id porque cada planta tiene un unico sensor(valor constante)

df_dia = df.groupby(['planta', 'inverter_id']).resample('D').agg({
    'irradiacion': ['min', 'mean', 'max'],
    't_ambiente': ['min', 'mean', 'max'],
    't_modulo': ['min', 'mean', 'max'],
    'kw_dc': ['min', 'mean', 'max', 'sum'],
    'kw_ac': ['min', 'mean', 'max', 'sum'],
    'eficiencia': ['min', 'mean', 'max'],
    'kw_dia': 'max',
    'kw_total': 'max'
})

df_dia

                                  irradiacion                     t_ambiente  \
                                          min      mean       max        min
planta inverter_id     fecha
p1     1BY6WEcLGh8j5v7 2020-05-15         0.0  0.204699  0.893661  22.037482
                       2020-05-16         0.0  0.211951  0.812241  21.496287
                       2020-05-17         0.0  0.238869  0.997904  21.209418
                       2020-05-18         0.0  0.159026  0.971481  20.961525
                       2020-05-19         0.0  0.194031  0.835832  22.388784
...                                       ...       ...       ...        ...
p2     xoJJ8DcxJEcupym 2020-06-13         0.0  0.215523  0.927124  22.199287
                       2020-06-14         0.0  0.229517  0.921356  23.651972
                       2020-06-15         0.0  0.185053  0.829677  24.000265
                       2020-06-16         0.0  0.165062  0.768459  23.629430
                       2020-06-17         0.0  0.124383  0.578941  22.551586

                                                          t_modulo             \
                                        mean        max        min       mean
planta inverter_id     fecha
p1     1BY6WEcLGh8j5v7 2020-05-15  27.430823  34.430943  20.290726  32.582964
                       2020-05-16  26.780538  32.524149  19.592692  31.858851
                       2020-05-17  26.686727  35.252486  20.377121  32.740435
                       2020-05-18  23.850938  28.367100  19.477531  27.814344
                       2020-05-19  25.338021  30.368632  20.062144  29.725163
...                                      ...        ...        ...        ...
p2     xoJJ8DcxJEcupym 2020-06-13  26.116937  31.910203  20.875969  30.394871
                       2020-06-14  27.019790  32.956087  22.117714  31.589834
                       2020-06-15  26.557591  31.613734  22.997750  29.996233
                       2020-06-16  26.369897  30.833513  22.555920  29.589896
                       2020-06-17  24.852174  29.044236  21.908376  26.668631

                                             kw_dc  ...                kw_ac  \
                                         max   min  ...            sum   min
planta inverter_id     fecha                        ...
p1     1BY6WEcLGh8j5v7 2020-05-15  55.030613   0.0  ...  235340.696429   0.0
                       2020-05-16  54.232746   0.0  ...  256629.875001   0.0
                       2020-05-17  63.145582   0.0  ...  288039.821438   0.0
                       2020-05-18  53.936739   0.0  ...  204030.303569   0.0
                       2020-05-19  51.847742   0.0  ...  232277.267856   0.0
...                                      ...   ...  ...            ...   ...
p2     xoJJ8DcxJEcupym 2020-06-13  51.008646   0.0  ...   27443.737619   0.0
                       2020-06-14  52.985789   0.0  ...   30768.782381   0.0
                       2020-06-15  48.458500   0.0  ...   25597.239048   0.0
                       2020-06-16  46.364629   0.0  ...   22335.691429   0.0
                       2020-06-17  42.326256   0.0  ...   17640.415238   0.0

                                                                          \
                                         mean          max           sum
planta inverter_id     fecha
p1     1BY6WEcLGh8j5v7 2020-05-15  247.812372  1039.350000  23046.550595
                       2020-05-16  285.505580  1095.285714  25124.491072
                       2020-05-17  293.467187  1114.814286  28172.850000
                       2020-05-18  208.026116  1193.628571  19970.507143
                       2020-05-19  244.528783  1059.800000  22741.176786
...                                       ...          ...           ...
p2     xoJJ8DcxJEcupym 2020-06-13  279.589350  1239.953333  26840.577619
                       2020-06-14  313.426766  1328.213333  30088.969524
                       2020-06-15  260.932183  1256.671429  25049.489524
                       2020-06-16  227.819107  1098.206667  21870.634286
                       2020-06-17  179.984494   810.766667  17278.511429

                                  eficiencia                        \
                                         min       mean        max
planta inverter_id     fecha
p1     1BY6WEcLGh8j5v7 2020-05-15        0.0   5.258029   9.823548
                       2020-05-16        0.0   5.555110   9.828622
                       2020-05-17        0.0   4.987913   9.824094
                       2020-05-18        0.0   4.989864   9.830864
                       2020-05-19        0.0   4.628925   9.831315
...                                      ...        ...        ...
p2     xoJJ8DcxJEcupym 2020-06-13        0.0  51.910797  98.288081
                       2020-06-14        0.0  51.944580  99.916122
                       2020-06-15        0.0  52.944501  98.269932
                       2020-06-16        0.0  50.901655  98.287167
                       2020-06-17        0.0  52.901252  98.319311

                                        kw_dia     kw_total
                                           max          max
planta inverter_id     fecha
p1     1BY6WEcLGh8j5v7 2020-05-15  5754.000000    6265313.0
                       2020-05-16  6292.000000    6271605.0
                       2020-05-17  7045.000000    6278650.0
                       2020-05-18  4998.000000    6283648.0
                       2020-05-19  6449.000000    6290097.0
...                                        ...          ...
p2     xoJJ8DcxJEcupym 2020-06-13  6632.000000  209312200.0
                       2020-06-14  7268.000000  209319687.0
                       2020-06-15  7412.666667  209325949.0
                       2020-06-16  6203.200000  209331425.0
                       2020-06-17  5327.000000  209335741.0

[1496 rows x 22 columns]

In [62]:
#Para eliminar el formato multiindice:
tuplas=df_dia.columns.to_flat_index()
tuplas

Index([ ('irradiacion', 'min'), ('irradiacion', 'mean'),
        ('irradiacion', 'max'),   ('t_ambiente', 'min'),
        ('t_ambiente', 'mean'),   ('t_ambiente', 'max'),
           ('t_modulo', 'min'),    ('t_modulo', 'mean'),
           ('t_modulo', 'max'),        ('kw_dc', 'min'),
             ('kw_dc', 'mean'),        ('kw_dc', 'max'),
              ('kw_dc', 'sum'),        ('kw_ac', 'min'),
             ('kw_ac', 'mean'),        ('kw_ac', 'max'),
              ('kw_ac', 'sum'),   ('eficiencia', 'min'),
        ('eficiencia', 'mean'),   ('eficiencia', 'max'),
             ('kw_dia', 'max'),     ('kw_total', 'max')],
      dtype='object')

In [64]:
df_dia.columns=['_'.join(par) for par in tuplas]
df_dia

                                   irradiacion_min  irradiacion_mean  \
planta inverter_id     fecha
p1     1BY6WEcLGh8j5v7 2020-05-15              0.0          0.204699
                       2020-05-16              0.0          0.211951
                       2020-05-17              0.0          0.238869
                       2020-05-18              0.0          0.159026
                       2020-05-19              0.0          0.194031
...                                            ...               ...
p2     xoJJ8DcxJEcupym 2020-06-13              0.0          0.215523
                       2020-06-14              0.0          0.229517
                       2020-06-15              0.0          0.185053
                       2020-06-16              0.0          0.165062
                       2020-06-17              0.0          0.124383

                                   irradiacion_max  t_ambiente_min  \
planta inverter_id     fecha
p1     1BY6WEcLGh8j5v7 2020-05-15         0.893661       22.037482
                       2020-05-16         0.812241       21.496287
                       2020-05-17         0.997904       21.209418
                       2020-05-18         0.971481       20.961525
                       2020-05-19         0.835832       22.388784
...                                            ...             ...
p2     xoJJ8DcxJEcupym 2020-06-13         0.927124       22.199287
                       2020-06-14         0.921356       23.651972
                       2020-06-15         0.829677       24.000265
                       2020-06-16         0.768459       23.629430
                       2020-06-17         0.578941       22.551586

                                   t_ambiente_mean  t_ambiente_max  \
planta inverter_id     fecha
p1     1BY6WEcLGh8j5v7 2020-05-15        27.430823       34.430943
                       2020-05-16        26.780538       32.524149
                       2020-05-17        26.686727       35.252486
                       2020-05-18        23.850938       28.367100
                       2020-05-19        25.338021       30.368632
...                                            ...             ...
p2     xoJJ8DcxJEcupym 2020-06-13        26.116937       31.910203
                       2020-06-14        27.019790       32.956087
                       2020-06-15        26.557591       31.613734
                       2020-06-16        26.369897       30.833513
                       2020-06-17        24.852174       29.044236

                                   t_modulo_min  t_modulo_mean  t_modulo_max  \
planta inverter_id     fecha
p1     1BY6WEcLGh8j5v7 2020-05-15     20.290726      32.582964     55.030613
                       2020-05-16     19.592692      31.858851     54.232746
                       2020-05-17     20.377121      32.740435     63.145582
                       2020-05-18     19.477531      27.814344     53.936739
                       2020-05-19     20.062144      29.725163     51.847742
...                                         ...            ...           ...
p2     xoJJ8DcxJEcupym 2020-06-13     20.875969      30.394871     51.008646
                       2020-06-14     22.117714      31.589834     52.985789
                       2020-06-15     22.997750      29.996233     48.458500
                       2020-06-16     22.555920      29.589896     46.364629
                       2020-06-17     21.908376      26.668631     42.326256

                                   kw_dc_min  ...      kw_dc_sum  kw_ac_min  \
planta inverter_id     fecha                  ...
p1     1BY6WEcLGh8j5v7 2020-05-15        0.0  ...  235340.696429        0.0
                       2020-05-16        0.0  ...  256629.875001        0.0
                       2020-05-17        0.0  ...  288039.821438        0.0
                       2020-05-18        0.0  ...  204030.303569        0.0
                       2020-05-19        0.0  ...  232277.267856        0.0
...                                      ...  ...            ...        ...
p2     xoJJ8DcxJEcupym 2020-06-13        0.0  ...   27443.737619        0.0
                       2020-06-14        0.0  ...   30768.782381        0.0
                       2020-06-15        0.0  ...   25597.239048        0.0
                       2020-06-16        0.0  ...   22335.691429        0.0
                       2020-06-17        0.0  ...   17640.415238        0.0

                                   kw_ac_mean    kw_ac_max     kw_ac_sum  \
planta inverter_id     fecha
p1     1BY6WEcLGh8j5v7 2020-05-15  247.812372  1039.350000  23046.550595
                       2020-05-16  285.505580  1095.285714  25124.491072
                       2020-05-17  293.467187  1114.814286  28172.850000
                       2020-05-18  208.026116  1193.628571  19970.507143
                       2020-05-19  244.528783  1059.800000  22741.176786
...                                       ...          ...           ...
p2     xoJJ8DcxJEcupym 2020-06-13  279.589350  1239.953333  26840.577619
                       2020-06-14  313.426766  1328.213333  30088.969524
                       2020-06-15  260.932183  1256.671429  25049.489524
                       2020-06-16  227.819107  1098.206667  21870.634286
                       2020-06-17  179.984494   810.766667  17278.511429

                                   eficiencia_min  eficiencia_mean  \
planta inverter_id     fecha
p1     1BY6WEcLGh8j5v7 2020-05-15             0.0         5.258029
                       2020-05-16             0.0         5.555110
                       2020-05-17             0.0         4.987913
                       2020-05-18             0.0         4.989864
                       2020-05-19             0.0         4.628925
...                                           ...              ...
p2     xoJJ8DcxJEcupym 2020-06-13             0.0        51.910797
                       2020-06-14             0.0        51.944580
                       2020-06-15             0.0        52.944501
                       2020-06-16             0.0        50.901655
                       2020-06-17             0.0        52.901252

                                   eficiencia_max   kw_dia_max  kw_total_max
planta inverter_id     fecha
p1     1BY6WEcLGh8j5v7 2020-05-15        9.823548  5754.000000     6265313.0
                       2020-05-16        9.828622  6292.000000     6271605.0
                       2020-05-17        9.824094  7045.000000     6278650.0
                       2020-05-18        9.830864  4998.000000     6283648.0
                       2020-05-19        9.831315  6449.000000     6290097.0
...                                           ...          ...           ...
p2     xoJJ8DcxJEcupym 2020-06-13       98.288081  6632.000000   209312200.0
                       2020-06-14       99.916122  7268.000000   209319687.0
                       2020-06-15       98.269932  7412.666667   209325949.0
                       2020-06-16       98.287167  6203.200000   209331425.0
                       2020-06-17       98.319311  5327.000000   209335741.0

[1496 rows x 22 columns]

In [66]:
df_dia.reset_index().set_index('fecha')

,planta,inverter_id,irradiacion_min,irradiacion_mean,irradiacion_max,t_ambiente_min,t_ambiente_mean,t_ambiente_max,t_modulo_min,t_modulo_mean,...,kw_dc_sum,kw_ac_min,kw_ac_mean,kw_ac_max,kw_ac_sum,eficiencia_min,eficiencia_mean,eficiencia_max,kw_dia_max,kw_total_max
fecha,,,,,,,,,,,,,,,,,,,,,
2020-05-15,p1,1BY6WEcLGh8j5v7,0.0,0.204699,0.893661,22.037482,27.430823,34.430943,20.290726,32.582964,...,235340.696429,0.0,247.812372,1039.350000,23046.550595,0.0,5.258029,9.823548,5754.000000,6265313.0
2020-05-16,p1,1BY6WEcLGh8j5v7,0.0,0.211951,0.812241,21.496287,26.780538,32.524149,19.592692,31.858851,...,256629.875001,0.0,285.505580,1095.285714,25124.491072,0.0,5.555110,9.828622,6292.000000,6271605.0
2020-05-17,p1,1BY6WEcLGh8j5v7,0.0,0.238869,0.997904,21.209418,26.686727,35.252486,20.377121,32.740435,...,288039.821438,0.0,293.467187,1114.814286,28172.850000,0.0,4.987913,9.824094,7045.000000,6278650.0
2020-05-18,p1,1BY6WEcLGh8j5v7,0.0,0.159026,0.971481,20.961525,23.850938,28.367100,19.477531,27.814344,...,204030.303569,0.0,208.026116,1193.628571,19970.507143,0.0,4.989864,9.830864,4998.000000,6283648.0
2020-05-19,p1,1BY6WEcLGh8j5v7,0.0,0.194031,0.835832,22.388784,25.338021,30.368632,20.062144,29.725163,...,232277.267856,0.0,244.528783,1059.800000,22741.176786,0.0,4.628925,9.831315,6449.000000,6290097.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-13,p2,xoJJ8DcxJEcupym,0.0,0.215523,0.927124,22.199287,26.116937,31.910203,20.875969,30.394871,...,27443.737619,0.0,279.589350,1239.953333,26840.577619,0.0,51.910797,98.288081,6632.000000,209312200.0
2020-06-14,p2,xoJJ8DcxJEcupym,0.0,0.229517,0.921356,23.651972,27.019790,32.956087,22.117714,31.589834,...,30768.782381,0.0,313.426766,1328.213333,30088.969524,0.0,51.944580,99.916122,7268.000000,209319687.0
2020-06-15,p2,xoJJ8DcxJEcupym,0.0,0.185053,0.829677,24.000265,26.557591,31.613734,22.997750,29.996233,...,25597.239048,0.0,260.932183,1256.671429,25049.489524,0.0,52.944501,98.269932,7412.666667,209325949.0
2020-06-16,p2,xoJJ8DcxJEcupym,0.0,0.165062,0.768459,23.629430,26.369897,30.833513,22.555920,29.589896,...,22335.691429,0.0,227.819107,1098.206667,21870.634286,0.0,50.901655,98.287167,6203.200000,209331425.0
2020-06-17,p2,xoJJ8DcxJEcupym,0.0,0.124383,0.578941,22.551586,24.852174,29.044236,21.908376,26.668631,...,17640.415238,0.0,179.984494,810.766667,17278.511429,0.0,52.901252,98.319311,5327.000000,209335741.0

In [67]:
df.to_pickle('df.pickle')
df_dia.to_pickle('df_dia.pickle')